{%extends "registration/base.html"%} {% load bootstrap5 %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<!--Register-->
<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-8 col-md-8" style="border:3px solid red;">
            {% if form.errors %}
            <p> Some Information Might be Incorrect </p>
            {% endif %}
            <div class="panel panel-default">
                <div class="main mt-5 mb-4">
                    <div class="panel-heading">
                        <h1 class="p-2">Sign Up</h1>

                    </div>

                    <form method="POST">
                        {% csrf_token %}
                        {{ register_form|crispy }}
                        <button class="btn btn-dark" type="submit">Sign Up</button>
                    </form>
                    <p class="pt-5">Already have an account? <a href="/login">Login</p>

                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2"></div>
    </div>
</div>
{% endblock %}