<nav class="navbar navbar-expand-lg bg-warning">
  <a class="navbar-brand" href="/index">Hood-Connect</a>
  <div class="container">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav d-flex justify-content-center mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-center" aria-current="page" href="{% url 'app:announce' %}">Announcements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-center" href="{% url 'app:amenities' %}">Amenities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-center" href="{% url 'app:post_business' %}">Post <br> Businesses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-center" href="{% url 'app:create_profile' %}">Update <br> Profile</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link active text-center" href="{% url 'app:profile' %}">Profile</a>
        </li>
        <li class="nav-item active text-center">
          <a class="nav-link active text-center" href="{% url 'app:/logout">Logout</a>
        </li>
      </ul>
    </div>
    <form class="d-flex justify-content-end" role="search" action="{% url 'app:search' %}">
      <input class="form-control me-2" type="search" placeholder="Search for a Business" name="businesses">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>